:root {
  --darkblue: #11235a;
  --lightblue: #c5dff8;
  --white: #f5fbff;
  --blue: #023e8a;
  --yellow: #fae588;
  --brown: #a63c06;
  --browner: #bc6c25;
  --yellower: #ffff3f;
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  --primary: var(--darkblue);
  --secondary: var(--lightblue);
  --third: var(--white);
  --fourth: var(--blue);
  font-family: "EB Garamond", serif;
}
.darkmoon {
  --primary: var(--darkblue);
  --secondary: var(--lightblue);
  --third: var(--white);
  --fourth: var(--blue);
}
.goldenorder {
  --primary: var(--brown);
  --secondary: var(--yellow);
  --third: var(--yellower);
  --fourth: var(--browner);
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}
h3 {
  color: var(--third);
}
.display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  width: 35rem;
  height: 60rem;
  margin: 4rem;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid var(--third);
  border-radius: 2rem;
  background-color: var(--fourth);
}
img {
  width: 30rem;
  height: 25rem;
  border-radius: 2rem;
}
.subtitle {
  font-size: 2rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--primary);
  background-color: var(--secondary);
}
.buttons {
  text-align: center;
}
button {
  margin: 1rem;
  background-color: var(--secondary);
}
#searchLabel {
  font-size: 2rem;
}
.search-input {
  text-align: center;
}
#search {
  background-color: var(--third);
}
.searchdirection {
  text-align: center;
}
